.navbar{
    background: #5133a4;
    min-height: 70px;
    position: fixed;
    width: 100%;
    color: white;
 }

 .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}
